In [1]:
import pandas as pd

<h5><b>1. Create</b></h5>

<h5><b>1.1 Create from CSV</b></h5>

In [2]:
df = pd.read_csv('output.csv')

df.head()

,Unnamed: 0,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,...,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn,New Column,Churn Binary
0,0,KS,128,415,No,Yes,25,265.1,110.0,45.07,...,244.7,91.0,11.01,10.0,3,2.70,1.0,False,10,0
1,1,OH,107,415,No,Yes,26,161.6,123.0,27.47,...,254.4,103.0,11.45,13.7,3,3.70,1.0,False,100,0
2,2,NJ,137,415,No,No,0,243.4,114.0,41.38,...,162.6,104.0,7.32,12.2,5,3.29,0.0,False,100,0
3,3,OH,84,408,Yes,No,0,299.4,71.0,50.90,...,196.9,89.0,8.86,6.6,7,1.78,2.0,False,100,0
4,4,OK,75,415,Yes,No,0,166.7,113.0,28.34,...,186.9,121.0,8.41,10.1,3,2.73,3.0,False,100,0

In [3]:
df.head(10)

,Unnamed: 0,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,...,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn,New Column,Churn Binary
0,0,KS,128,415,No,Yes,25,265.1,110.0,45.07,...,244.7,91.0,11.01,10.0,3,2.70,1.0,False,10,0
1,1,OH,107,415,No,Yes,26,161.6,123.0,27.47,...,254.4,103.0,11.45,13.7,3,3.70,1.0,False,100,0
2,2,NJ,137,415,No,No,0,243.4,114.0,41.38,...,162.6,104.0,7.32,12.2,5,3.29,0.0,False,100,0
3,3,OH,84,408,Yes,No,0,299.4,71.0,50.90,...,196.9,89.0,8.86,6.6,7,1.78,2.0,False,100,0
4,4,OK,75,415,Yes,No,0,166.7,113.0,28.34,...,186.9,121.0,8.41,10.1,3,2.73,3.0,False,100,0
5,5,AL,118,510,Yes,No,0,223.4,98.0,37.98,...,203.9,118.0,9.18,6.3,6,1.70,0.0,False,100,0
6,7,MO,147,415,Yes,No,0,157.0,79.0,26.69,...,211.8,96.0,9.53,7.1,6,1.92,0.0,False,100,0
7,8,LA,117,408,No,No,0,184.5,97.0,31.37,...,215.8,90.0,9.71,8.7,4,2.35,1.0,False,100,0
8,9,WV,141,415,Yes,Yes,37,258.6,84.0,43.96,...,326.4,97.0,14.69,11.2,5,3.02,0.0,False,100,0
9,10,IN,65,415,No,No,0,129.1,137.0,21.95,...,208.8,111.0,9.40,12.7,6,3.43,4.0,True,100,1

<h5><b>1.2 Create from dictionary</b></h5>

In [6]:
data = {'name': ['chala', 'biniyam', 'baha'], 'age': [1,2,3]}

df_from_dict = pd.DataFrame(data)

df_from_dict.head()

      name  age
0    chala    1
1  biniyam    2
2     baha    3

<h5><b>2 Reading </b></h5>