In [1]:
import pandas as pd

<h5><b>1. Create</b></h5>

<h5><b>1.1 Create from CSV</b></h5>

In [2]:
df = pd.read_csv('output.csv')

df.head()

,Unnamed: 0,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,...,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn,New Column,Churn Binary
0,0,KS,128,415,No,Yes,25,265.1,110.0,45.07,...,244.7,91.0,11.01,10.0,3,2.70,1.0,False,10,0
1,1,OH,107,415,No,Yes,26,161.6,123.0,27.47,...,254.4,103.0,11.45,13.7,3,3.70,1.0,False,100,0
2,2,NJ,137,415,No,No,0,243.4,114.0,41.38,...,162.6,104.0,7.32,12.2,5,3.29,0.0,False,100,0
3,3,OH,84,408,Yes,No,0,299.4,71.0,50.90,...,196.9,89.0,8.86,6.6,7,1.78,2.0,False,100,0
4,4,OK,75,415,Yes,No,0,166.7,113.0,28.34,...,186.9,121.0,8.41,10.1,3,2.73,3.0,False,100,0

In [3]:
df.head(10)

,Unnamed: 0,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,...,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn,New Column,Churn Binary
0,0,KS,128,415,No,Yes,25,265.1,110.0,45.07,...,244.7,91.0,11.01,10.0,3,2.70,1.0,False,10,0
1,1,OH,107,415,No,Yes,26,161.6,123.0,27.47,...,254.4,103.0,11.45,13.7,3,3.70,1.0,False,100,0
2,2,NJ,137,415,No,No,0,243.4,114.0,41.38,...,162.6,104.0,7.32,12.2,5,3.29,0.0,False,100,0
3,3,OH,84,408,Yes,No,0,299.4,71.0,50.90,...,196.9,89.0,8.86,6.6,7,1.78,2.0,False,100,0
4,4,OK,75,415,Yes,No,0,166.7,113.0,28.34,...,186.9,121.0,8.41,10.1,3,2.73,3.0,False,100,0
5,5,AL,118,510,Yes,No,0,223.4,98.0,37.98,...,203.9,118.0,9.18,6.3,6,1.70,0.0,False,100,0
6,7,MO,147,415,Yes,No,0,157.0,79.0,26.69,...,211.8,96.0,9.53,7.1,6,1.92,0.0,False,100,0
7,8,LA,117,408,No,No,0,184.5,97.0,31.37,...,215.8,90.0,9.71,8.7,4,2.35,1.0,False,100,0
8,9,WV,141,415,Yes,Yes,37,258.6,84.0,43.96,...,326.4,97.0,14.69,11.2,5,3.02,0.0,False,100,0
9,10,IN,65,415,No,No,0,129.1,137.0,21.95,...,208.8,111.0,9.40,12.7,6,3.43,4.0,True,100,1

<h5><b>1.2 Create from dictionary</b></h5>

In [68]:
data = {'name': ['chala', 'biniyam', 'baha'], 'age': [1,2,3]}

df_from_dict = pd.DataFrame.from_dict(data)

df_from_dict.drop(0, axis=0).iloc[0]
df_from_dict.to_json('mj.json')
df_from_dict.to_html('ohh.html')

In [63]:
def makesq(num):
    return num * num
# df_from_dict['age'].apply(lambda x : x * x)

df_from_dict['age'].apply(makesq)

0    1
1    4
2    9
Name: age, dtype: int64

<h5><b>2 Reading </b></h5>

In [9]:
df.head()

,Unnamed: 0,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,...,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn,New Column,Churn Binary
0,0,KS,128,415,No,Yes,25,265.1,110.0,45.07,...,244.7,91.0,11.01,10.0,3,2.70,1.0,False,10,0
1,1,OH,107,415,No,Yes,26,161.6,123.0,27.47,...,254.4,103.0,11.45,13.7,3,3.70,1.0,False,100,0
2,2,NJ,137,415,No,No,0,243.4,114.0,41.38,...,162.6,104.0,7.32,12.2,5,3.29,0.0,False,100,0
3,3,OH,84,408,Yes,No,0,299.4,71.0,50.90,...,196.9,89.0,8.86,6.6,7,1.78,2.0,False,100,0
4,4,OK,75,415,Yes,No,0,166.7,113.0,28.34,...,186.9,121.0,8.41,10.1,3,2.73,3.0,False,100,0

In [8]:
df.tail()

,Unnamed: 0,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,...,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn,New Column,Churn Binary
3302,3328,AZ,192,415,No,Yes,36,156.2,77.0,26.55,...,279.1,83.0,12.56,9.9,6,2.67,2.0,False,100,0
3303,3329,WV,68,415,No,No,0,231.1,57.0,39.29,...,191.3,123.0,8.61,9.6,4,2.59,3.0,False,100,0
3304,3330,RI,28,510,No,No,0,180.8,109.0,30.74,...,191.9,91.0,8.64,14.1,6,3.81,2.0,False,100,0
3305,3331,CT,184,510,Yes,No,0,213.8,105.0,36.35,...,139.2,137.0,6.26,5.0,10,1.35,2.0,False,100,0
3306,3332,TN,74,415,No,Yes,25,234.4,113.0,39.85,...,241.4,77.0,10.86,13.7,4,3.70,0.0,False,100,0

In [7]:
df.tail(3)

,Unnamed: 0,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,...,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn,New Column,Churn Binary
3304,3330,RI,28,510,No,No,0,180.8,109.0,30.74,...,191.9,91.0,8.64,14.1,6,3.81,2.0,False,100,0
3305,3331,CT,184,510,Yes,No,0,213.8,105.0,36.35,...,139.2,137.0,6.26,5.0,10,1.35,2.0,False,100,0
3306,3332,TN,74,415,No,Yes,25,234.4,113.0,39.85,...,241.4,77.0,10.86,13.7,4,3.70,0.0,False,100,0

In [10]:
df.columns

Index(['Unnamed: 0', 'State', 'Account length', 'Area code',
       'International plan', 'Voice mail plan', 'Number vmail messages',
       'Total day minutes', 'Total day calls', 'Total day charge',
       'Total eve minutes', 'Total eve calls', 'Total eve charge',
       'Total night minutes', 'Total night calls', 'Total night charge',
       'Total intl minutes', 'Total intl calls', 'Total intl charge',
       'Customer service calls', 'Churn', 'New Column', 'Churn Binary'],
      dtype='object')

In [11]:
df.dtypes

Unnamed: 0                  int64
State                      object
Account length              int64
Area code                   int64
International plan         object
Voice mail plan            object
Number vmail messages       int64
Total day minutes         float64
Total day calls           float64
Total day charge          float64
Total eve minutes         float64
Total eve calls           float64
Total eve charge          float64
Total night minutes       float64
Total night calls         float64
Total night charge        float64
Total intl minutes        float64
Total intl calls            int64
Total intl charge         float64
Customer service calls    float64
Churn                        bool
New Column                  int64
Churn Binary                int64
dtype: object

In [13]:
df.describe(include='object')

       State International plan Voice mail plan
count   3307               3307            3307
unique    51                  2               2
top       WV                 No              No
freq     106               2985            2396

In [14]:
df.State

0       KS
1       OH
2       NJ
3       OH
4       OK
        ..
3302    AZ
3303    WV
3304    RI
3305    CT
3306    TN
Name: State, Length: 3307, dtype: object

In [15]:
df['International plan']

0        No
1        No
2        No
3       Yes
4       Yes
       ...
3302     No
3303     No
3304     No
3305    Yes
3306     No
Name: International plan, Length: 3307, dtype: object

In [19]:
df[['International plan', 'State']]

     International plan State
0                    No    KS
1                    No    OH
2                    No    NJ
3                   Yes    OH
4                   Yes    OK
...                 ...   ...
3302                 No    AZ
3303                 No    WV
3304                 No    RI
3305                Yes    CT
3306                 No    TN

[3307 rows x 2 columns]

In [26]:
df.State.unique()

array(['KS', 'OH', 'NJ', 'OK', 'AL', 'MO', 'LA', 'WV', 'IN', 'RI', 'SC',
       'VA', 'NE', 'WY', 'MT', 'IL', 'GA', 'MD', 'AR', 'ID', 'WI', 'OR',
       'MI', 'DE', 'IA', 'UT', 'CO', 'CA', 'MN', 'SD', 'NC', 'WA', 'TX',
       'NM', 'NV', 'HI', 'DC', 'NY', 'VT', 'KY', 'ME', 'AZ', 'AK', 'MS',
       'MA', 'FL', 'NH', 'TN', 'PA', 'CT', 'ND'], dtype=object)

In [27]:
df.State.nunique()

51

In [29]:
df[(df['International plan'] == 'No') & (df['Churn'] ==False) ]

,Unnamed: 0,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,...,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn,New Column,Churn Binary
0,0,KS,128,415,No,Yes,25,265.1,110.0,45.07,...,244.7,91.0,11.01,10.0,3,2.70,1.0,False,10,0
1,1,OH,107,415,No,Yes,26,161.6,123.0,27.47,...,254.4,103.0,11.45,13.7,3,3.70,1.0,False,100,0
2,2,NJ,137,415,No,No,0,243.4,114.0,41.38,...,162.6,104.0,7.32,12.2,5,3.29,0.0,False,100,0
7,8,LA,117,408,No,No,0,184.5,97.0,31.37,...,215.8,90.0,9.71,8.7,4,2.35,1.0,False,100,0
10,11,RI,74,415,No,No,0,187.7,127.0,31.91,...,196.0,94.0,8.82,9.1,5,2.46,0.0,False,100,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3301,3327,SC,79,415,No,No,0,134.7,98.0,22.90,...,221.4,128.0,9.96,11.8,5,3.19,2.0,False,100,0
3302,3328,AZ,192,415,No,Yes,36,156.2,77.0,26.55,...,279.1,83.0,12.56,9.9,6,2.67,2.0,False,100,0
3303,3329,WV,68,415,No,No,0,231.1,57.0,39.29,...,191.3,123.0,8.61,9.6,4,2.59,3.0,False,100,0
3304,3330,RI,28,510,No,No,0,180.8,109.0,30.74,...,191.9,91.0,8.64,14.1,6,3.81,2.0,False,100,0
3306,3332,TN,74,415,No,Yes,25,234.4,113.0,39.85,...,241.4,77.0,10.86,13.7,4,3.70,0.0,False,100,0

In [30]:
df.iloc[14]

Unnamed: 0                   26
State                        WY
Account length               57
Area code                   408
International plan           No
Voice mail plan             Yes
Number vmail messages        39
Total day minutes         213.0
Total day calls           115.0
Total day charge          36.21
Total eve minutes         191.1
Total eve calls           112.0
Total eve charge          16.24
Total night minutes       182.7
Total night calls         115.0
Total night charge         8.22
Total intl minutes          9.5
Total intl calls              3
Total intl charge          2.57
Customer service calls      0.0
Churn                     False
New Column                  100
Churn Binary                  0
Name: 14, dtype: object

In [31]:
df.iloc[14, 0]

26

In [32]:
df.iloc[14:32]

,Unnamed: 0,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,...,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn,New Column,Churn Binary
14,26,WY,57,408,No,Yes,39,213.0,115.0,36.21,...,182.7,115.0,8.22,9.5,3,2.57,0.0,False,100,0
15,27,MT,54,408,No,No,0,134.3,73.0,22.83,...,102.1,68.0,4.59,14.7,4,3.97,3.0,False,100,0
16,28,MO,20,415,No,No,0,190.0,109.0,32.30,...,181.5,102.0,8.17,6.3,6,1.70,0.0,False,100,0
17,30,IL,142,415,No,No,0,84.8,95.0,14.42,...,250.5,148.0,11.27,14.2,6,3.83,2.0,False,100,0
18,39,NJ,149,408,No,No,0,140.4,94.0,23.87,...,188.3,108.0,8.47,11.1,9,3.00,1.0,False,100,0
19,40,GA,98,408,No,No,0,126.3,102.0,21.47,...,187.8,135.0,8.45,9.4,2,2.54,3.0,False,100,0
20,41,MD,135,408,Yes,Yes,41,173.1,85.0,29.43,...,122.2,78.0,5.50,14.6,15,3.94,0.0,True,100,1
21,42,AR,34,510,No,No,0,124.8,82.0,21.22,...,311.5,78.0,14.02,10.0,4,2.70,2.0,False,100,0
22,43,ID,160,415,No,No,0,85.8,77.0,14.59,...,178.5,92.0,8.03,9.2,4,2.48,3.0,False,100,0
23,44,WI,64,510,No,No,0,154.0,67.0,26.18,...,265.3,86.0,11.94,3.5,3,0.95,1.0,False,100,0
24,45,OR,59,408,No,Yes,28,120.9,97.0,20.55,...,163.1,116.0,7.34,8.5,5,2.30,2.0,False,100,0
25,46,MI,65,415,No,No,0,211.3,120.0,35.92,...,134.7,118.0,6.06,13.2,5,3.56,3.0,False,100,0
26,47,DE,142,408,No,No,0,187.0,133.0,31.79,...,242.2,127.0,10.90,7.4,5,2.00,2.0,False,100,0
27,48,ID,119,415,No,No,0,159.1,114.0,27.05,...,143.2,91.0,6.44,8.8,3,2.38,5.0,True,100,1
28,49,WY,97,415,No,Yes,24,133.2,135.0,22.64,...,70.6,79.0,3.18,11.0,3,2.97,1.0,False,100,0
29,50,IA,52,408,No,No,0,191.9,108.0,32.62,...,236.8,87.0,10.66,7.8,5,2.11,3.0,False,100,0
30,51,IN,60,408,No,No,0,220.6,57.0,37.50,...,249.0,129.0,11.21,6.8,3,1.84,1.0,False,100,0
31,52,VA,10,408,No,No,0,186.1,112.0,31.64,...,282.8,57.0,12.73,11.4,6,3.08,2.0,False,100,0

In [36]:
dfc = df.set_index('State')

dfc

,Unnamed: 0,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,...,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn,New Column,Churn Binary
State,,,,,,,,,,,,,,,,,,,,,
KS,0,128,415,No,Yes,25,265.1,110.0,45.07,197.4,...,244.7,91.0,11.01,10.0,3,2.70,1.0,False,10,0
OH,1,107,415,No,Yes,26,161.6,123.0,27.47,195.5,...,254.4,103.0,11.45,13.7,3,3.70,1.0,False,100,0
NJ,2,137,415,No,No,0,243.4,114.0,41.38,121.2,...,162.6,104.0,7.32,12.2,5,3.29,0.0,False,100,0
OH,3,84,408,Yes,No,0,299.4,71.0,50.90,61.9,...,196.9,89.0,8.86,6.6,7,1.78,2.0,False,100,0
OK,4,75,415,Yes,No,0,166.7,113.0,28.34,148.3,...,186.9,121.0,8.41,10.1,3,2.73,3.0,False,100,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
AZ,3328,192,415,No,Yes,36,156.2,77.0,26.55,215.5,...,279.1,83.0,12.56,9.9,6,2.67,2.0,False,100,0
WV,3329,68,415,No,No,0,231.1,57.0,39.29,153.4,...,191.3,123.0,8.61,9.6,4,2.59,3.0,False,100,0
RI,3330,28,510,No,No,0,180.8,109.0,30.74,288.8,...,191.9,91.0,8.64,14.1,6,3.81,2.0,False,100,0
CT,3331,184,510,Yes,No,0,213.8,105.0,36.35,159.6,...,139.2,137.0,6.26,5.0,10,1.35,2.0,False,100,0
TN,3332,74,415,No,Yes,25,234.4,113.0,39.85,265.9,...,241.4,77.0,10.86,13.7,4,3.70,0.0,False,100,0

In [37]:
dfc.loc['OH']

,Unnamed: 0,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,...,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn,New Column,Churn Binary
State,,,,,,,,,,,,,,,,,,,,,
OH,1,107,415,No,Yes,26,161.6,123.0,27.47,195.5,...,254.4,103.0,11.45,13.7,3,3.70,1.0,False,100,0
OH,3,84,408,Yes,No,0,299.4,71.0,50.90,61.9,...,196.9,89.0,8.86,6.6,7,1.78,2.0,False,100,0
OH,152,65,408,No,No,0,187.9,116.0,31.94,157.6,...,227.3,86.0,10.23,7.5,6,2.03,1.0,False,100,0
OH,156,83,415,No,No,0,337.4,120.0,57.36,227.4,...,153.9,114.0,6.93,15.8,7,4.27,0.0,True,100,1
OH,231,63,415,Yes,Yes,36,199.0,110.0,33.83,291.3,...,197.6,92.0,8.89,11.0,6,2.97,1.0,False,100,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
OH,3249,160,415,No,No,0,206.3,66.0,35.07,241.1,...,227.8,102.0,10.25,11.7,6,3.16,0.0,False,100,0
OH,3251,88,408,No,No,0,274.6,105.0,46.68,161.1,...,194.4,123.0,8.75,9.2,4,2.48,2.0,False,100,0
OH,3286,106,415,No,Yes,30,220.1,105.0,37.42,222.2,...,158.4,96.0,7.13,13.1,8,3.54,0.0,False,100,0
OH,3325,78,408,No,No,0,193.4,99.0,32.88,116.9,...,243.3,109.0,10.95,9.3,4,2.51,2.0,False,100,0
OH,3326,96,415,No,No,0,106.6,128.0,18.12,284.8,...,178.9,92.0,8.05,14.9,7,4.02,1.0,False,100,0

In [44]:
df.isnull().nunique()

Unnamed: 0                1
State                     1
Account length            1
Area code                 1
International plan        1
Voice mail plan           1
Number vmail messages     1
Total day minutes         1
Total day calls           1
Total day charge          1
Total eve minutes         1
Total eve calls           1
Total eve charge          1
Total night minutes       1
Total night calls         1
Total night charge        1
Total intl minutes        1
Total intl calls          1
Total intl charge         1
Customer service calls    1
Churn                     1
New Column                1
Churn Binary              1
dtype: int64

In [49]:
df.dropna(inplace=True)

In [50]:
df.dropna()

,Unnamed: 0,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,...,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn,New Column,Churn Binary
0,0,KS,128,415,No,Yes,25,265.1,110.0,45.07,...,244.7,91.0,11.01,10.0,3,2.70,1.0,False,10,0
1,1,OH,107,415,No,Yes,26,161.6,123.0,27.47,...,254.4,103.0,11.45,13.7,3,3.70,1.0,False,100,0
2,2,NJ,137,415,No,No,0,243.4,114.0,41.38,...,162.6,104.0,7.32,12.2,5,3.29,0.0,False,100,0
3,3,OH,84,408,Yes,No,0,299.4,71.0,50.90,...,196.9,89.0,8.86,6.6,7,1.78,2.0,False,100,0
4,4,OK,75,415,Yes,No,0,166.7,113.0,28.34,...,186.9,121.0,8.41,10.1,3,2.73,3.0,False,100,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3302,3328,AZ,192,415,No,Yes,36,156.2,77.0,26.55,...,279.1,83.0,12.56,9.9,6,2.67,2.0,False,100,0
3303,3329,WV,68,415,No,No,0,231.1,57.0,39.29,...,191.3,123.0,8.61,9.6,4,2.59,3.0,False,100,0
3304,3330,RI,28,510,No,No,0,180.8,109.0,30.74,...,191.9,91.0,8.64,14.1,6,3.81,2.0,False,100,0
3305,3331,CT,184,510,Yes,No,0,213.8,105.0,36.35,...,139.2,137.0,6.26,5.0,10,1.35,2.0,False,100,0
3306,3332,TN,74,415,No,Yes,25,234.4,113.0,39.85,...,241.4,77.0,10.86,13.7,4,3.70,0.0,False,100,0

In [53]:
df.drop('Area code', axis=1)

,Unnamed: 0,State,Account length,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,...,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn,New Column,Churn Binary
0,0,KS,128,No,Yes,25,265.1,110.0,45.07,197.4,...,244.7,91.0,11.01,10.0,3,2.70,1.0,False,10,0
1,1,OH,107,No,Yes,26,161.6,123.0,27.47,195.5,...,254.4,103.0,11.45,13.7,3,3.70,1.0,False,100,0
2,2,NJ,137,No,No,0,243.4,114.0,41.38,121.2,...,162.6,104.0,7.32,12.2,5,3.29,0.0,False,100,0
3,3,OH,84,Yes,No,0,299.4,71.0,50.90,61.9,...,196.9,89.0,8.86,6.6,7,1.78,2.0,False,100,0
4,4,OK,75,Yes,No,0,166.7,113.0,28.34,148.3,...,186.9,121.0,8.41,10.1,3,2.73,3.0,False,100,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3302,3328,AZ,192,No,Yes,36,156.2,77.0,26.55,215.5,...,279.1,83.0,12.56,9.9,6,2.67,2.0,False,100,0
3303,3329,WV,68,No,No,0,231.1,57.0,39.29,153.4,...,191.3,123.0,8.61,9.6,4,2.59,3.0,False,100,0
3304,3330,RI,28,No,No,0,180.8,109.0,30.74,288.8,...,191.9,91.0,8.64,14.1,6,3.81,2.0,False,100,0
3305,3331,CT,184,Yes,No,0,213.8,105.0,36.35,159.6,...,139.2,137.0,6.26,5.0,10,1.35,2.0,False,100,0
3306,3332,TN,74,No,Yes,25,234.4,113.0,39.85,265.9,...,241.4,77.0,10.86,13.7,4,3.70,0.0,False,100,0

In [64]:
df.to_csv('akkam.csv')

In [66]:
df.to_json('jsn.json')

In [69]:
df.to_html('omg.html')